/.vs/rnc_test/v15/.suo
/.vs/rnc_test/v15/Browse.VC.db
/rnc_test.vcxproj.user
/x64/Release/main.obj
/x64/Release/rnc_test.exe
/x64/Release/rnc_test.ilk
/x64/Release/rnc_test.log
/x64/Release/rnc_test.pdb
/x64/Release/rnc_test.tlog/CL.command.1.tlog
/x64/Release/rnc_test.tlog/CL.read.1.tlog
/x64/Release/rnc_test.tlog/CL.write.1.tlog
/x64/Release/rnc_test.tlog/link.command.1.tlog
/x64/Release/rnc_test.tlog/link.read.1.tlog
/x64/Release/rnc_test.tlog/link.write.1.tlog
/x64/Release/rnc_test.tlog/rnc_test.lastbuildstate
/x64/Release/vc141.pdb
/.vs/rnc_test/v15/Browse.VC.opendb
/Release/main.obj
/Release/rnc_test.exe
/Release/rnc_test.log
/Release/rnc_test.pdb
/Release/rnc_test.tlog/CL.command.1.tlog
/Release/rnc_test.tlog/CL.read.1.tlog
/Release/rnc_test.tlog/CL.write.1.tlog
/Release/rnc_test.tlog/link.command.1.tlog
/Release/rnc_test.tlog/link.read.1.tlog
/Release/rnc_test.tlog/link.write.1.tlog
/Release/rnc_test.tlog/rnc_test.lastbuildstate
/Release/vc141.pdb
